<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>613417430493-e2sp7ki713c7neh339gfd7lcesej4ber.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.613417430493-e2sp7ki713c7neh339gfd7lcesej4ber</string>
	<key>API_KEY</key>
	<string>AIzaSyDIGYIUHzqyc8zQAPivhc84eC7xWCLiTOM</string>
	<key>GCM_SENDER_ID</key>
	<string>613417430493</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.johanguse.cavaloTrucado</string>
	<key>PROJECT_ID</key>
	<string>cavalo-trucado-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>cavalo-trucado-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:613417430493:ios:0ba64f144a28cc50bc5a34</string>
</dict>
</plist>