<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>659176071823-h1d40t9n28jm2ad88qkr7v1qb7p9u8v3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.659176071823-h1d40t9n28jm2ad88qkr7v1qb7p9u8v3</string>
	<key>API_KEY</key>
	<string>AIzaSyCIfb4WxtOhHwLWNHoLn3UH69A17Sc2nME</string>
	<key>GCM_SENDER_ID</key>
	<string>659176071823</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.johanguse.cavaloTrucado</string>
	<key>PROJECT_ID</key>
	<string>cavalo-trucado-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>cavalo-trucado-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:659176071823:ios:a7292d296170a3155fc6fa</string>
</dict>
</plist>